@model wychuan2.com.Models.LiCaiAccount
@{
    ViewBag.Title = "管理后台";
    Layout = "../Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet">
}
<div class="row">
    统计
</div>

@section scripts{
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Scripts/plugins/validate/messages_zh.js"></script>
}