<p>下面是公司内网常用的服务器列表，如果在外网，连接上VPN后使用：</p>
<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped">
        <thead><tr><th>type</th><th>IP</th><th>account/pwd</th><th>备注</th></tr></thead>
        <tbody>
            <tr>
                <td><code>server</code></td>
                <td>10.8.7.42</td>
                <td><code>root</code>/<code>a**d@@1**4</code></td>
                <td>CentOS 6.5</td>
            </tr>
            <tr>
                <td rowspan="3"><code>website</code></td>
                <td><a target="_blank" href="http://pms.etaoshi.com">pms.etaoshi.com</a></td>
                <td><code>wan***chu**</code>/<code>wan***chu**@@ets</code></td>
                <td>禅道系统</td>
            </tr>
            <tr>
                <td><a target="_blank" href="http://redmine.etaoshi.cn">redmine.etaoshi.cn</a></td>
                <td><code>wan***chu**1</code>/<code>12****78</code></td>
                <td>需要配置hosts:<br /><code>10.8.8.5 redmine.etaoshi.cn</code></td>
            </tr>
            <tr>
                <td><a target="_blank" href="http://mail.etao.cn">email</a></td>
                <td><code>wan*.**chu**@@etao.cn</code>/<code>a12****</code></td>
                <td>邮箱账号</td>
            </tr>

            <tr>
                <td rowspan="3"><code>tools</code></td>
                <td><a target="_blank" href="https://www.jpush.cn/">www.jpush.cn/</a></td>
                <td><code>superman9999999 </code>/<code>chaoren123 </code></td>
                <td>极光</td>
            </tr>
            <tr>
                <td><a target="_blank" href="http://www.umeng.com ">http://www.umeng.com </a></td>
                <td><code>wang.sheng@etaostars.com  </code>/<code>etaoshi </code></td>
                <td>友盟</td>
            </tr>
            <tr>
                <td><a target="_blank" href="http://www.pgyer.com/">http://www.pgyer.com/</a></td>
                <td><code>tai.yuanhong@etaostars.com</code>/<code>edaisong2015 </code></td>
                <td>蒲公英</td>
            </tr>
        </tbody>
    </table>
</div>

<hr />