<div class="row">
    <div class="col-lg-6">
        <h4>Etao-VPN</h4>
        <p>
            <strong>ip:</strong><code>36.110.62.18</code><br />
            <strong>account:</strong> <code>wang*******</code><br />
            <strong>password:</strong><code>1q2*3e4r*5*</code>
        </p>
    </div>
    <div class="col-lg-6">
        <h4>IDC-VPN</h4>
        <p>
            <strong>ip:</strong><code>vip1.*******.com</code><br />
            <strong>account:</strong><code>wang.*******@@e****dc.com</code><br />
            <strong>password:</strong><code>e**!**4</code>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h4>笔记本</h4>
        <p>
            <strong>ip:</strong><code>172.18.10.113</code><br />
            <strong>account:</strong> <code>syl**.wa**@@hotmail.com</code><br />
            <strong>password:</strong><code>V****@@***</code>
        </p>
    </div>
    <div class="col-lg-6">
        <h4>台式机</h4>
        <p>
            <strong>ip:</strong><code>172.18.10.64</code><br />
            <strong>account:</strong><code>admini***</code><br />
            <strong>password:</strong><code>E**@@**3</code>
        </p>
    </div>
</div>
<hr />