<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped">
        <thead><tr><th>system</th><th>gitaddress</th><th>branch</th></tr></thead>
        <tbody>
            <tr>
                <td>练习</td>
                <td><code>ssh://git@10.8.8.5:8118/ets/demogit/GitExercise.git</code></td>
                <td><code>master</code></td>
            </tr>
            <tr>
                <td>documents</td>
                <td><code>ssh://git@10.8.8.5:8118/ets/b2b/docments.git</code></td>
                <td><code>master</code></td>
            </tr>
            <tr>
                <td>eds-admin</td>
                <td><code>ssh://git@10.8.8.5:8118/ets/eds/Public/Eds.SuperMan.git</code></td>
                <td><code>SuperManCrowdSourcing</code></td>
            </tr>
            <tr>
                <td>eds-java-tools</td>
                <td rowspan="2"><code>ssh://git@10.8.8.5:8118/ets/eds/Public/eds.java.git</code></td>
                <td><code>edstools</code></td>
            </tr>
            <tr>
                <td>eds-java</td>
                <td><code>master</code></td>
            </tr>
            <tr>
                <td>sansong-ios-b</td>
                <td><code>ssh://git@10.8.8.5:8118/ets/edaisong_ios_b</code></td>
                <td><code>sansong_v1</code></td>
            </tr>
            <tr>
                <td>sansong-ios-c</td>
                <td><code>ssh://git@10.8.8.5:8118/ets/edaisong_iosapp.git</code></td>
                <td><code>master</code></td>
            </tr>
            <tr>
                <td>rrt-java</td>
                <td><code>ssh://git@10.8.8.5:8118/ets/eds/Public/renrenditui.git</code></td>
                <td><code>master</code></td>
            </tr>
            <tr>
                <td>rrt-andriord</td>
                <td><code>ssh://git@10.8.8.5:8118/ets/eds/Public/renrenditui_androidApp.git</code></td>
                <td><code>master</code></td>
            </tr>

        </tbody>
    </table>
</div>