<p class="lead">在etao的工作经历，备忘永不可少。</p>

<h2 id="etao-vpn">VPN&远程连接</h2>
@Html.Partial("~/Views/etao/_etao-vpn.cshtml")

<h2 id="etao-accounts">内网账号</h2>
@Html.Partial("~/Views/etao/_etao-accounts.cshtml")

<h2 id="etao-git">git</h2>
@Html.Partial("~/Views/etao/_etao-git.cshtml")