@{
    ViewBag.Title = "主页";
    Layout = "~/Views/Shared/_Layout_Cover.cshtml";
}
<h1 class="cover-heading">我的人生</h1>
<p class="lead">
    IT从业多年,参演多部屌丝程序猿主演的加班连续剧,情节悠长丰富,发人深省,深刻描绘了现实中亲情,爱情,
    友情在加班和 bug 面前的无力和苍白.揭露了代码建筑工的生存现状.
</p>
<p class="lead">
    <a href="/" class="btn btn-lg btn-default">了解更多</a>
</p>
