<p class="lead"><code>cd</code>是Change Directory的缩写，这是用来变换工作目录的指令。</p>
<p><strong>特殊的目录如下：</strong>
    <ul><li><code>.</code>代表当前目录</li>
        <li><code>..</code>代表上一层目录</li>
        <li><code>-</code>代表前一个工作目录</li>
        <li><code>~</code>代表【目前用户身份】所在的家目录</li>
        <li><code>~account</code>代表account这个用户的家目录(account是账号)</li>
    </ul>
</p>
<p><strong>常用操作</strong></p>
<ul>
    <li><code>$ cd [相对路径或绝对路径]</code> 表示去到指定的相对或绝对目录</li>
    <li><code>$ cd ~</code> 表示去到当前用户的家目录</li>
    <li><code>$ cd ~guest</code>表示去到<code>guest</code>用户的家目录</li>
    <li><code>$ cd -</code>表示回到刚同旬的那个目录即前一个目录</li>
    <li><code>$ cd</code> 没有加上任何路径表示,代表的是 <code>cd ~</code>的意思</li>
    <li><code>$ cd..</code> 去到上一层目录</li>
    <li><code>$ cd.</code> 没有变化，还在当前工作目录</li>
</ul>
