<p class="lead"><code>more</code>命令可以分页显示档案内容</p>

<p><strong>1. 命令格式</strong></p>
<p><code>more [-dflpcsu] [+linenum | +/pattern] name1 name2 ...</code></p>

<p><strong>2. 快捷键</strong></p>
<ul>
    <li><code>空格键 (space)或 n</code>：代表向下翻一页；</li>
    <li><code>Enter</code>：代表向下翻『一行』；</li>
    <li><code>/字符串</code>：代表在这个显示的内容当中，向下搜寻『字符串』这个关键词.</li>
    <li><code>:f</code>：立刻显示出文件名以及目前显示的行数； </li>
    <li><code>q</code>：代表立刻离开 more ，不再显示该档案内容。</li>
    <li><code>b 或 [ctrl]-b </code>：代表往回翻页，不过这动作只对档案有用，对管线无用。 </li>
</ul>
