<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@ViewBag.Title - 码农阿川</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/w3bs/patch.css" />
    <link rel="stylesheet" href="~/Content/w3bs/docs.min.css" />
    @RenderSection("styles", required: false)
</head>
<body>
    <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">码农阿川</a>
            </div>
            <nav id="bs-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <li class="active">
                        <a href="/blog">随笔</a>
                    </li>
                    <li>
                        <a href="/abount">关于</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/admin">码农阿川 随笔</a></li>
                </ul>
            </nav>
        </div>
    </header>
    @RenderBody()
    <footer class="bs-docs-footer" role="contentinfo">
        <div class="container">
            <ul class="bs-docs-footer-links text-muted">
                <li>我的导航：</li>
                <li>·</li>
                <li><a href="https://github.com/" target="_blank">GitHub</a></li>
                <li>·</li>
                <li><a href="http://www.cnblogs.com" target="_blank">博客园</a></li>
                <li>·</li>
                <li><a href="http://www.infoq.com/cn" target="_blank">InfoQ</a></li>
                <li>·</li>
                <li><a href="http://www.w3school.com.cn/index.html" target="_blank">W3cScholl</a></li>
                
            </ul>
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        京ICP备15015164号-1 <strong>Copyright</strong> &copy; 2011-2015 wychuan.com, All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="~/Scripts/jquery-1.11.3.min.js"> </script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"> </script>
    <script type="text/javascript" src="~/Content/w3bs/docs.min.js"> </script>
    @RenderSection("javascripts", required: false)
</body>
</html>
