<p class="header"><code>Maven</code>创建的项目的目录结构约定如下：</p>
<pre>
MavenProjectRoot(项目根目录)
|----src
|     |----main
|     |         |----java ——存放项目的.java文件
|     |         |----resources ——存放项目资源文件，如spring, hibernate配置文件
|     |----test
|     |         |----java ——存放所有测试.java文件，如JUnit测试类
|     |         |----resources ——存放项目资源文件，如spring, hibernate配置文件
|----target ——项目输出位置
|----pom.xml ----用于标识该项目是一个Maven项目
</pre>

