<p class="lead">自 <code>Unity</code> 桌面引入 <code>Ubuntu</code> 以来，其简洁、实用的设计理念和美观、高效的用户界面越来越受到人们的欢迎。下面分享一下 <code>Unity</code> 桌面在切换应用程序窗口中使用快捷键的几个实用技巧。</p>

<h2 id="ubuntu-tab-tab">Alt + Tab组合键</h2>
<p class="lead">用 <strong class="text-danger">Alt + Tab</strong> 组合键在当前桌面的不同程序之间切换:</p>
<p>按  <strong class="text-danger">Alt + Tab</strong>  组合键，屏幕显示程序切换条；按住 <code>Alt</code> 键，然后反复点按 <code>Tab</code>键，切换条中的程序会按从左到右的顺序显示白色光晕，当光晕到达目标程序时，释放按键，目标程序立即成为当前窗口。</p>
<div class="bs-callout bs-callout-warning">
    <h4>小技巧：</h4>
    <ol>
        <li>先按住右边的 <code>Alt</code> 键，再按 <code>Tab</code> 键，这时如果打开的程序较多，目标程序正好在当前程序的左边，则可以再按左边的 <code>Shift</code> 键，切换条将按从右到左的顺序反向切换。</li>
        <li>不按住 <code>Alt</code> 键，而是快速地短按组合键，会在最近打开的两个不同的程序窗口间切换，而不会切换到第三个程序。</li>
    </ol>
</div>
<h2 id="ubuntu-tab-altd">Alt + ` 组合键</h2>
<p class="lead">用 <strong class="text-danger">Alt + `（Tab键上方的键）</strong> 组合键在同一应用程序的不同窗口之间切换:</p>
<p>按  <strong class="text-danger">Alt + Alt + `（Tab键上方的键）</strong>  组合键，则在当前程序的不同窗口间切换，而不会切换到其他程序的窗口上去。比如，同时打开了两个浏览器窗口，可以用这对组合键，实现只在这两个浏览器窗口间切换。</p>
<div class="bs-callout bs-callout-warning">
    <h4>小技巧：</h4>
    <p>按组合键时，如果想从当前程序中切换出去，可再按 <code>Tab</code> 键，即可转换到不同程序间切换的模式。其实每一种都可以随时转换成另一种。</p>
</div>
<h2 id="ubuntu-tab-superw">Super + w</h2>
<p class="lead">用 <strong class="text-danger">Super + w</strong> 组合键看看更酷的切换方式:</p>
<p>按  <strong class="text-danger">Super + w</strong>  组合键，会启动“展览”切换模式，所有窗口像展板被布置在展台上一样平铺在整个桌面上，视觉上很酷，而且还有利于预览各个程序窗口的具体内容。</p>
<div class="bs-callout bs-callout-warning">
    <h4>小提示：</h4>
    <ol>
        <li><code>Super</code> 键就是空格左边的 <code>Win</code> 键；</li>
        <li>需要用鼠标点击，激活目标窗口。</li>
    </ol>
</div>
<h2 id="ubuntu-tab-launcher">Super ＋Launcher + 数字键</h2>
<p class="lead">用 <strong class="text-danger">Super ＋Launcher</strong>  + 数字键切换:</p>
<p>按住<strong class="text-danger">Super </strong>键不放，屏幕左侧的 <strong class="text-danger">Launcher</strong> （程序启动器）就会处于程序切换状态，上面的每个程序图标上都会出现一个数字，这时在键盘上按目标程序上的数字，该程序窗口就会处于当前窗口的位置。</p>
<div class="bs-callout bs-callout-warning">
    <h4>小技巧：</h4>
    <ol>
        <li><strong class="text-danger">Launcher</strong> 上面当前运行的程序左边会有一个白色的标志，如果一个程序只开了一个窗口，这个标志是个白色的三角形；如果开了两个窗口，则变成两道短横线；三个或以上的窗口则会显示三条短横线。</li>
        <li>如果按键数字对应的程序没有运行，则这个程序就会启动。</li>
        <li>如果同时按住 <code>Super</code> 和 <code>Shift</code> 键再按数字键，则数字对应的程序会开一个新的窗口，不管它之前有没有窗口在运行。</li>
    </ol>
</div>
<div class="bs-callout bs-callout-danger">
    <h4>当然可以用鼠标！而且很好用！</h4>
    <p>鼠 标是最方便的输入设备，<code>Unity</code> 桌面当然能够很方便地使用鼠标。在程序切换中，用鼠标点击 <code>Launcher</code> 上的程序图标，如果它已经运行，它的窗口会变成当前；如果它是当前程序，且开了两个以上的窗口，这些窗口会并排以供选择。其界面类似于按 <code>Alt + ` </code>组合键。</p>
</div>