<p class="head">Maven必懂小技巧。</p>

<h2 id="mavenskills-repos">修改默认repository</h2>
@Html.Partial("~/Views/java/maven/_mavenskills-repos.cshtml")

<h2 id="mavenskills-sdk">Maven配置JDK默认Version</h2>
@Html.Partial("~/Views/java/maven/_mavenskills-sdk.cshtml")
