<p class="lead">在<code>CMD</code>命令下输入<code>javac</code>，<code>java</code>，<code>javadoc</code>命令：出现图示界面，表示安装成功。</p>

<img src="/UpImgs/tomcat-setting/java.jpg" class="img-responsive" alt="Responsive image">
<img src="/UpImgs/tomcat-setting/javac.jpg" class="img-responsive" alt="Responsive image">