<p>1，安装<code>JDK</code>：直接运行<code>jdk-7-windows-i586.exe</code>可执行程序，默认安装即可。</p>

<div class="bs-callout bs-callout-warning">
    <h4>注意事项</h4>
    <p>路径可以其他盘符，不建议路径包含中文名及特殊符号。</p>
</div>

<p>2、安装Tomcat：直接解压缩下载文件“<code>apache-tomcat-7.0.33-windows-x86.zip</code>”到C盘下。安装路径建议修改为：<code>c:\\tomcat</code>。</p>

<div class="bs-callout bs-callout-warning">
    <h4>注意事项</h4>
    <p>如下载的是可执行文件，双击运行，默认安装即可。</p>
</div>