<p class="lead">工欲善其事，必先利其器，在开始之前，先准备好下面原料：</p>

<ol>
    <li>
        JDK-Java开发工具包<p>下载地址<a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html" target="_blank">http://www.oracle.com/technetwork/java/javase/downloads/index.html</a> </p>
    </li>
    <li>
        tomcat<p>下载地址<a href="http://tomcat.apache.org/" target="_blank">http://tomcat.apache.org/</a> </p>
    </li>
    <li>windows os(windows8.1)</li>
</ol>