<p class="lead">如何下载安装tomcat，如何配置环境变量？配置过程中是否和作者一样经常出现错误？</p>

<h2 id="tomcat-setting-tools">工具/原料</h2>
@Html.Partial("~/Views/java/tomcatsetting/_tomcat-setting-tools.cshtml")

<h2 id="tomcat-setting-install">安装jdk&tomcat</h2>
@Html.Partial("~/Views/java/tomcatsetting/_tomcat-setting-install.cshtml")

<h2 id="tomcat-setting-jdkpath">配置jdk环境变量</h2>
@Html.Partial("~/Views/java/tomcatsetting/_tomcat-setting-jdkpath.cshtml")

<h2 id="tomcat-setting-jdktest">测试JDK</h2>
@Html.Partial("~/Views/java/tomcatsetting/_tomcat-setting-jdktest.cshtml")

