<blockquote class="text-warning" style="font-size:14px">
    <p>从严格意义上讲，命令行指的是供用户输入命令 的界面，其本身只是接受输入，然后把命令传递给命令解释器。后者就是 Shell。</p>
    <p>从本质上 讲，Shell 是一个程序，它在用户和操作系统之间提供了一个面向行的可交互接口。用户在 命令行中输入命令，运行在后台的 Shell 把命令转换成指令代码发送给操作系统。</p>
    <p>Shell 提 供了很多高级特性，使得用户和操作系统间的交互变得简便和高效。</p>
    <h4 class="text-danger">那么，现在Shell来了</h4>
</blockquote>

<h2 id="shell-wildcardchar">通配符</h2>
@Html.Partial("~/Views/shell/_shell-wildcardchar.cshtml")

<h2>环境变量</h2>
@Html.Partial("~/Views/shell/_path.cshtml")
