<?xml version="1.0"?>
<ArrayOfCategoryConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <CategoryConfigInfo>
    <Id>1</Id>
    <Name>.Net技术</Name>
    <ParentId>0</ParentId>
    <Childs>
      <CategoryConfigInfo>
        <Id>11</Id>
        <Name>Visual Studio2</Name>
        <ParentId>1</ParentId>
        <Childs />
      </CategoryConfigInfo>
      <CategoryConfigInfo>
        <Id>12</Id>
        <Name>NuGet</Name>
        <ParentId>1</ParentId>
        <Childs />
      </CategoryConfigInfo>
      <CategoryConfigInfo>
        <Id>13</Id>
        <Name>MVC</Name>
        <ParentId>1</ParentId>
        <Childs />
      </CategoryConfigInfo>
      <CategoryConfigInfo>
        <Id>14</Id>
        <Name>WCF</Name>
        <ParentId>1</ParentId>
        <Childs />
      </CategoryConfigInfo>
      <CategoryConfigInfo>
        <Id>111</Id>
        <Name>ddd</Name>
        <ParentId>1</ParentId>
        <Childs />
      </CategoryConfigInfo>
    </Childs>
  </CategoryConfigInfo>
  <CategoryConfigInfo>
    <Id>2</Id>
    <Name>Java</Name>
    <ParentId>0</ParentId>
    <Childs>
      <CategoryConfigInfo>
        <Id>21</Id>
        <Name>Maven</Name>
        <ParentId>2</ParentId>
        <Childs />
      </CategoryConfigInfo>
      <CategoryConfigInfo>
        <Id>22</Id>
        <Name>eclipse</Name>
        <ParentId>2</ParentId>
        <Childs />
      </CategoryConfigInfo>
    </Childs>
  </CategoryConfigInfo>
  <CategoryConfigInfo>
    <Id>3</Id>
    <Name>Linux</Name>
    <ParentId>0</ParentId>
    <Childs />
  </CategoryConfigInfo>
  <CategoryConfigInfo>
    <Id>4</Id>
    <Name>test</Name>
    <ParentId>0</ParentId>
    <Childs />
  </CategoryConfigInfo>
  <CategoryConfigInfo>
    <Id>5</Id>
    <Name>test2ddd</Name>
    <ParentId>0</ParentId>
    <Childs />
  </CategoryConfigInfo>
  <CategoryConfigInfo>
    <Id>3111</Id>
    <Name>testddd</Name>
    <ParentId>0</ParentId>
    <Childs />
  </CategoryConfigInfo>
  <CategoryConfigInfo>
    <Id>32</Id>
    <Name>1212</Name>
    <ParentId>0</ParentId>
    <Childs />
  </CategoryConfigInfo>
</ArrayOfCategoryConfigInfo>