@Html.Partial("~/Views/shell/fhs/_fhs.cshtml")
<h2 id="fhs-root">/(root,根目录)</h2>
@Html.Partial("~/Views/shell/fhs/_fhs_root.cshtml")
<h2 id="fhs-usr">/usr</h2>
@Html.Partial("~/Views/shell/fhs/_fhs_usr.cshtml")
<h2 id="fhs-var">/var</h2>
@Html.Partial("~/Views/shell/fhs/_fhs_var.cshtml")
