<p>除了使用 <code>passwd -S</code> 之外，有没有更详细的密码参数显示功能呢？有的！那就是 <code>chage</code> 了</p>
<p><strong>1. 命令格式</strong></p>
<p>
    <code>chage [options] [LOGIN]</code>
</p>

<p><strong>2. 参数</strong></p>
<p>
    <code class="m-r-md">-l, --list</code>
    列出该账号的详细密码参数；<small>show account aging information</small><br />
    <code class="m-r-md">-d, --lastday LAST_DAY</code>
    后面接日期，修改 <code>shadow</code> 第三字段(最近一次更改密码的日期)，格
    YYYY-MM-DD<small>set date of last password change to LAST_DAY</small><br />

    <code class="m-r-md">-E, --expiredate EXPIRE_DATE</code>
    后面接日期，修改 <code>shadow</code> 第八字段(账号失效日)，格式  YYYY-MM-DD
    <small>set account expiration date to EXPIRE_DATE</small><br />

    <code class="m-r-md">-I, --inactive INACTIVE</code>
    后面接天数，修改 <code>shadow</code> 第七字段(密码失效日期)
    <small>
        set password inactive after expiration
        to INACTIVE
    </small> <br />

    <code class="m-r-md">-m, --mindays MIN_DAYS</code>
    后面接天数，修改 <code>shadow</code> 第四字段(密码最短保留天数)
    <small>
        set minimum number of days before password
        change to MIN_DAYS
    </small><br />

    <code class="m-r-md">-M, --maxdays MAX_DAYS</code>
    后面接天数，修改 shadow 第五字段(密码多久需要进行变更)
    <small>
        set maximim number of days before password
        change to MAX_DAYS
    </small><br />

    <code class="m-r-md">-W, --warndays WARN_DAYS</code>
    后面接天数，修改 shadow 第六字段(密码过期前警告日期)
    <small>set expiration warning days to WARN_DAYS</small><br />
</p>



<p><strong>3. sample</strong></p>
<strong>列出用户<code>wangyuchuan</code>的密码详细参数：</strong>
<pre><code>[root@centos-chuan ~]# chage -l wangyuchuan
Last password change                                    : Jan 18, 2016
Password expires                                        : Mar 18, 2016
Password inactive                                       : Mar 28, 2016
Account expires                                         : never
Minimum number of days between password change          : 0
Maximum number of days between password change          : 60
Number of days of warning before password expires       : 7</code></pre>

<strong>
    想要让『使用者在第一次登录时，  强制她们一定要更改密码后才能
    够使用系统资源 』，可以利用如下的方法来处理：
</strong>
<pre><code>[root@centos-chuan ~]# useradd -m testa
[root@centos-chuan ~]# echo 'testa'|passwd --stdin testa
更改用户 testa 的密码 。
passwd： 所有的身份验证令牌已经成功更新。
[root@centos-chuan ~]# chage -d 0 testa
[root@centos-chuan ~]# chage -l testa
Last password change                                    : password must be changed
Password expires                                        : password must be changed
Password inactive                                       : password must be changed
Account expires                                         : never
Minimum number of days between password change          : 0
Maximum number of days between password change          : 99999
Number of days of warning before password expires       : 7</code></pre>

<p><strong>4. Files</strong></p>
<ul>
    <li><a href="" target="_blank"><code>/etc/pam.d/passwd</code></a> - the Linux-PAM configuration file</li>
</ul>

<p><strong>5. SEE ALSO</strong></p>
<code>pam(8), pam.d(5), libuser.conf(5), and pam_chauthtok(3).</code>






