<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <!--<sectionGroup name="spring">
      <section name="context" type="AC.SpringUtils.SpringContextHandler, AC.Spring" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>-->
  </configSections>
  <connectionStrings>
    <!--<add name="ConnStringOfAchuan" connectionString="Data Source=127.0.0.1;Initial Catalog=WYC;uid=sa;pwd=Vancl@123;Pooling=true;Max Pool Size=600;Connection Timeout=120"/>-->
    <add name="ConnStringOfAchuan" connectionString="Data Source=qds122275398.my3w.com;Initial Catalog=qds122275398_db;uid=qds122275398;pwd=wych198312;Pooling=true;Max Pool Size=600;Connection Timeout=120" />
  </connectionStrings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <!--<spring>
    <context type="Spring.Context.Support.XmlApplicationContext, Spring.Core">
      --><!--<resource uri="assembly://WMS.ConnStringManager/WMS.ConnStringManager/AppContext.xml" />--><!--
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">

    </objects>
  </spring>-->
  <appSettings>
    <add key="wxtoken" value="wangyuchuan198312" />
    <!--码农阿川订阅号-->
    <!--<add key="wxAppID" value="wxda1b221c07aac68d" />
    <add key="wxAppSecret" value="0256c494ebd1c1b749c073f14e307f58" />-->

    <!--测试账号-->
    <add key="wxAppID" value="wxa298ae835b9d4c64" />
    <add key="wxAppSecret" value="06043e8cbab0fc5bed1f1ffcabcc7d88" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>